h1
{
	text-align:center;
}
section
{	
	

	padding:10px;
	
	box-sizing:border-box;
	clear:right;
}
p
{	
	float:right;
	text-align: center;
	font-size:1.1em;
	margin:0;
	width:30%;
	border-left: 1px solid black;
	border-bottom:1px solid black;
	padding:5px;
	box-sizing:border-box;
}
