h1{
text-align:center;
}
.D{
margin:7%;
}
div>div{
background-color:grey;
margin-right:20px;
width:31%;
padding:0;

border:2px solid black;
box-sizing:border-box;
float:left;
}

.p1{
background-color:red;
text-align:center;
float:right;
padding:2px;
height:25px;

width:30%;
margin:0;
border-left:2px solid black;
border-bottom:2px solid black;
box-sizing:border-box;
}

.p2{
background-color:#FF0000;
text-align:center;
margin:0;
float:right;
border-left:2px solid black;
border-bottom:2px solid black;
padding:2px;
height:25px;
width:30%;
box-sizing:border-box;
}
.p3{
background-color:#FF00F0;
text-align:center;
margin:0;

padding:2px;
height:25px;
float:right;

width:30%;
border-left:2px solid black;
border-bottom:2px solid black;
box-sizing:border-box;
}
section{
font-size:100%;
padding:10px;
box-sizing:border-box;

clear:right;
}
